img {

  border-radius:  50%;
  height: auto;
  width: 200px;
}
.waw {
  padding: 10px;
}
.waw th{
  padding: 10px;
  margin: 10px;
}
thead {
  color: #fdfdfc;
  background-color: #626261;
}
